<!-- {{#each pictures as |picture|}} -->

<!-- <div>
  <img src="{{picture.url}}" width="200" height="200">
</div> -->

<tbody>
{{#each gridrow}}
    <tr>
        {{#each this}}
            <td><img src="{{this.url}}" width="200" height="200"></td>
        {{/each}}
    </tr>
{{/each}}
</tbody>

<!-- {{/each}} -->
