<tbody>
{{#each gridrow}}
    <tr>
        {{#each this}}
          {{#if this.url}}
            <td><img src="{{this.url}}" width="200" height="200"></td>
          {{/if}}
        {{/each}}
    </tr>
{{/each}}
</tbody>
